.one-phone {
  background-color: rgba(250, 243, 231, .6);
  height: 50vh;
  padding: 20px;
  width: 40vw;
}

button {
  margin: 12px;
  background-color: #dbdbdb;
  font: white;
  border: 4px solid #91908f;
}
